.menuIcon {
	display: inline-block;
	text-align: center;
	color: white;
	border-radius: 10px;
	padding: 20px 5px;
}

.menuIcon:hover {
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;

}