.edited {
	animation: editcolorchange 2s; /* animation-name followed by duration in seconds*/
	/* you could also use milliseconds (ms) or something like 2.5s */
	 -webkit-animation: editcolorchange 2s; /* Chrome and Safari */
	/*-webkit-transition: background-color 2s ease;
	-moz-transition: background-color 2s ease;
	-o-transition: background-color 2s ease;
	transition: background-color 2s ease;*/
	background-color: #f2e600;
}

@keyframes editcolorchange {
	0%   {background: #3f51b5;}
	100% {background: #f2e600;}
}

@-webkit-keyframes editcolorchange /* Safari and Chrome - necessary duplicate */
{
	0%   {background: #3f51b5;}
	100% {background: #f2e600;}
}

.error {
	-webkit-transition: background-color 2s ease;
	-moz-transition: background-color 2s ease;
	-o-transition: background-color 2s ease;
	transition: background-color 2s ease;
	background-color: #c20808;
}

.standard {
	-webkit-transition: background-color 2s ease;
	-moz-transition: background-color 2s ease;
	-o-transition: background-color 2s ease;
	transition: background-color 2s ease;
	background-color: #3f51b5;
}

.success {
	animation: successcolorchange 5s;
	-webkit-animation: successcolorchange 5s;	
}



@keyframes successcolorchange {
	0%   {background: #31b053;}
	50%  {background: #31b053;}
	75%  {background: green;}
	100% {background: #3f51b5;}
}

@-webkit-keyframes successcolorchange /* Safari and Chrome - necessary duplicate */
{
	0%   {background: #31b053;}
	50%  {background: #31b053;}
	75%  {background: green;}
	100% {background: #3f51b5;}
}